@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

.chelsea-market-regular {
  font-family: "Chelsea Market", serif;
  font-weight: 400;
  font-style: normal;
}

.unkempt-regular {
  font-family: "Unkempt", serif;
  font-weight: 400;
  font-style: normal;
}

.unkempt-bold {
  font-family: "Unkempt", serif;
  font-weight: 700;
  font-style: normal;
}



  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }








  /* From Uiverse.io by JulanDeAlb */ 
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #0C1429;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}




/* grid */

.gridp{
  display: grid;
  grid-template-columns: repeat(auto-fit,max(190px));
  grid-template-rows: repeat(auto-fit,130px);
  grid-column-gap: 10px;
  grid-row-gap:10px;
}
.div1 { grid-area: 1 / 1 / 4 / 5; }
.div2 { grid-area: 1 / 5 / 4 / 7; }
.div3 { grid-area: 1 / 7 / 4 / 9; }
.div4 { grid-area: 4 / 5 / 7 / 9; }
.div5 { grid-area: 4 / 3 / 7 / 5; }
.div6 { grid-area: 4 / 1 / 7 / 3; }




.image1{
  background-image: url("./Images/Projects/p16/1PS.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
.image2{
  background-image: url("./Images/Projects/bb21.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* getredey */
.img11{
  background-image: url("./Images/getstart/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img12{
  background-image: url("./Images/getstart/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img13{
  background-image: url("./Images/getstart/img3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.oberdd::-webkit-scrollbar {
  display: none;
}



.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.vertical-video {
  width: auto;
  height: 100%;
  max-width: 100%;
 
  object-fit: cover;
}